{"filter":false,"title":".eslintrc","tooltip":"/.eslintrc","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1460404855644,"hash":"c7c52967ce9f94506e5a8d49ab91a2a703ea4687"}