<nav class="navbar navbar-default" role="navigation">    
    <div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" ng-click="vm.toggleNavBar()">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#/" class="navbar-brand">Teleconference Reservation</a>
		</div> 
		<div class="collapse navbar-collapse" uib-collapse="vm.navbarCollapsed">			
			<ul class="nav navbar-nav navbar-right">
				<li ng-class="{ active: vm.routeIs('/contact') }">
					<a href="#/help">Help</a>
				</li>		
			</ul>
		</div>
	</div>
</nav>